@font-face{
    font-family: zelda;
    src: url(Ravenna.ttf)
}

body{
    background-image: url('../Images/zelda-a-collection-of-items-comforters.jpg');
}

.banner{
    width: auto 100%;
    border: solid 7px #0d9263;
    text-align: center;
    padding: 1rem;
    font-family: zelda;
    font-size: 45px;
    margin-bottom: 1rem;
    background: #d4cd46cc;
}

#instructions{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    border: solid 4px #4aba91;
    font: #494b4b;
    background: rgba(245, 245, 245, 0.966);
    margin-bottom: 1rem;
}

.scoreCard{
    border: solid 4px #4aba91;
    font: #494b4b;
    font-family: 'Open Sans', sans-serif;
    padding: 1rem 2rem 1rem 1rem;
    font-size:  30px;
    text-align: left;
    background:  rgba(245, 245, 245, 0.966);
}

#randomCompGen{
    border: solid 4px #4aba91;
    font: #494b4b;
    font-family: 'Open Sans', sans-serif;
    font-size:  30px;
    text-align: left;
    padding: 1rem 2rem 1rem 1rem;
    margin-bottom: 1rem;
    background:  rgba(245, 245, 245, 0.966);
}


#crystals{
    border: solid 4px #4aba91;
    background-color:  rgba(245, 245, 245, 0.966);
    padding: 0;
}


#scoreBox{
    border: solid 4px #4aba91;
    font: #494b4b;
    font-family: 'Open Sans', sans-serif;
    font-size:  40px;
    background:  rgba(245, 245, 245, 0.966);
    padding: 1rem;
}

.footer{
    border-top: solid 4px #4aba91;
    font: #494b4b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:  12px;
    background: #d4ce46;
    overflow: auto;
    padding: 1rem;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}